<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzijun.yizunetwork.dict.mapper.DictGzSubStationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huzijun.yizunetwork.core.dict.entity.DictGzSubStation">
		<id column="code" property="code" />
		<result column="line_code" property="lineCode" />
		<result column="name" property="name" />
	</resultMap>



    <sql id="entityWrapperJoin">
    	<if test="ew != null">
    		<if test="ew.entity != null">
    			<where>
        			<if test="ew.entity.code!=null and ew.entity.code!=''">
						AND a.code=#{ew.entity.code}
					</if>
        			<if test="ew.entity.lineCode!=null and ew.entity.lineCode!=''">
						AND a.line_code=#{ew.entity.lineCode}
					</if>
        			<if test="ew.entity.name!=null and ew.entity.name!=''">
						AND a.name=#{ew.entity.name}
					</if>
                    <if test="ew.entity.delFlag!=null and ew.entity.delFlag!=''">
                        AND a.del_flag=#{ew.entity.delFlag}
                    </if>
				</where>
			</if>
			<if test="ew.sqlSegment != null">
				${ew.sqlSegment}
			</if>
		</if>
	</sql>


	<select id="">

	</select>>
</mapper>
